.ProductDetails > em > .RetailPriceValue {
    position:absolute;
    top:20px;
    left:20px;
    color: #fff;
    background-color:orange;
    font-weight: 400;
    font-size:14px;
    padding:5px 10px;
}
